.task {
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
  font-weight: 500;
  color: #797979;
  display: flex;
  justify-content: space-between;
}

.task__deletebtn {
  outline: none;
  border: none;
  color: #fff;
  background-color: #e50914;
  font-weight: 500;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
}
