.task__container {
  margin: auto;
  padding-left: 35px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.task {
  font-weight: 500;
  color: #797979;
  cursor: pointer;
}

.task--completed {
  text-decoration: line-through;
}

.task__deletebtn {
  outline: none;
  border: none;
  color: #fff;
  background-color: #e50914;
  font-weight: 500;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
}
